<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<!-- Image and text -->
<div class="fixed-top">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="./static/img/bar-chart1.svg" width="40" height="40" class="d-inline-block align-top" alt="">
            Graphify
        </a>
        </nav>
</div>

</body>
</html>
